extends layout

block content
  h1
    | You're waiting for a page. A page that will take you far away. You know where you hope this page will take you, but you can't know for sure. Yet it doesn't matter...because you'll always be 
    a(href='http://www.imdb.com/title/tt1375666/') Inception
    | .
